.consultancy-jobs {
  position: relative;
  width: 100%;
  min-height: 100vh;
  height: 100%;
  padding: 3%;
  background-color: var(--secondary-bg-color);
}

.consultancy-jobs .filters {
  display: flex;
  align-items: flex-start;
  justify-content: stretch;
  background: var(--primary-bg-color);
  margin: 0 1.5rem;
  border-radius: 10px;
  padding-bottom: 1.5rem;
  border: 1px solid rgba(255, 173, 255, 0.193);
  box-shadow: 5px 5px 14px #f3f3f3, -5px -5px 14px #ffffff;
}

.consultancy-jobs .filters .select-container {
  width: 100%;
  margin: 0 1.5rem;
}

.consultancy-jobs .filters .job-count {
  width: 20%;
  margin-top: 2.9rem;
  margin-right: 1rem;
}

.consultancy-jobs .card-container {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
}

@media only screen and (max-width: 1200px) {
  .consultancy-jobs .filters {
    margin: 0 0.7rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .consultancy-jobs .card-container {
    grid-template-columns: minmax(0, 1fr);
  }
}
