.add-job-category {
    margin: 5%;
    padding: 5%;
    background: var(--primary-bg-color);
    border-radius: 10px;
}

.add-job-category h3 {
    padding-bottom: 2rem;
}

.add-job-category .tag-input-container {
    margin: 2rem 0;
}

.add-job-category .tag-input-container .display-tag {
    margin-bottom: 2rem;
}

.add-job-category .tag-input-container .display-tag .tag-list {
    margin: .5rem 0;
}

.add-job-category .tag-input-container .display-tag .tag-list .tag {
    margin: .5rem;
}

.label{
    display: block;
    text-align: start;
    font-size: 0.8rem;
    margin-inline-end: var(--chakra-space-3);
    margin-bottom: var(--chakra-space-2);
    font-weight: var(--chakra-fontWeights-medium);
    transition-property: var(--chakra-transition-property-common);
    transition-duration: var(--chakra-transition-duration-normal);
    opacity: 1;
}
.actionContainers{
    margin-top: 14px;
}
input[type='radio']
{
    margin-right: 7px;
}
.radio-buttonContainers{
    display: grid;
    grid-template-columns: 100px auto;
}