.add-job {
  width: 100%;
  background-color: var(--secondary-bg-color);
  padding: 3%;
}

.add-job h2 {
  text-align: center;
}

.add-job .form .row {
  display: flex;
  flex-direction: row;
  width: 100%;
  padding: 0;
  margin: 0;
}

.add-job .form .row .column {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0;
  padding: 0;
}

.add-job .form .row .column:first-child {
  margin-right: 1rem;
}

.add-job .form .row .column:last-child {
  margin-left: 1rem;
}

.add-job .form .row .column .container {
  width: 100%;
  padding: 2rem;
  margin: 1rem 0;
  background-color: var(--primary-bg-color);
  border: 1px solid rgba(0, 0, 0, 0.09);
  border-radius: 10px;
}

.add-job .form .row .column .container .heading-container {
  display: flex;
  align-items: center;
}

.add-job .form .row .column .container .heading-container .icon {
  font-size: 2rem;
  margin-right: 0.5rem;
}

@media only screen and (max-width: 1000px) {
  .add-job .form .row {
    flex-direction: column;
  }

  .add-job .form .row .column {
    margin: 0;
  }

  .add-job .form .row .column:first-child {
    margin-right: 0;
  }

  .add-job .form .row .column:last-child {
    margin-left: 0;
  }
}

@media only screen and (max-width: 500px) {
  .add-job .form .row .column .container {
    padding: 1rem;
    margin: 0.5rem 0;
  }
}

.containerDiv {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.dropdown-container {
  position: relative;
  width: 100%;
  font-family: Arial, sans-serif;
}

.dropdown-header {
  padding: 10px;
  border: 1px solid #cccccc99;
  border-radius: 6px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff3d;
}

.dropdown-list {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  border: 1px solid #ccc;
  background-color: #fff;
  z-index: 1000;
}

.dropdown-item {
  padding: 8px 12px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.dropdown-item:hover {
  background-color: #eaeaea;
}

.dropdown-item.selected {
  background-color: #d3d3d3;
}

.dropdown-arrow {
  font-size: 0.75em;
  margin-left: 10px;
}

.dropdown-label {
  display: block;
  text-align: start;
  font-size: 0.8rem;
  margin-top: 11px;
}

.locationChips {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
  background: #8b00ff36;
  justify-content: space-around;
  padding: 8px;
  border-radius: 11px;
}

.iconBackground {
  background: #41007700;

}

.locationContainer{
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 10px;
  margin-top: 10px;
}

.paragraphLocation{
  margin-top: 10px;
}
.Validation{
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  color: var(--chakra-colors-red-500);
  margin-top: var(--chakra-space-2);
  font-size: var(--chakra-fontSizes-sm);
  line-height: var(--chakra-lineHeights-normal);
}
.isRequired{
  color: var(--chakra-colors-red-500);
}