.forgot-password {
    width: 100%;
    min-height: 87vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--secondary-bg-color);
  }
  
  .forgot-password .container {
    min-width: 600px;
    padding: 3rem 5rem;
    border-radius: 5px;
    box-shadow: var(--box-shadow-2);
    background: var(--primary-bg-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .forgot-password .container .heading {
    margin-bottom: 2rem;
  }
  
  /* Media Queries */
  @media only screen and (max-width: 800px) {
    .forgot-password {
      padding-top: 2rem;
    }
  
    .forgot-password .container {
      min-width: 90%;
    }
  }
  
  @media only screen and (max-width: 500px) {
    .forgot-password {
      background-color: var(--primary-bg-color);
    }
  
    .forgot-password .container {
      box-shadow: none;
      padding: 3rem 10%;
      width: 100%;
    }
  }
  