.job-seeker-registration {
  padding: 6%;
  background-color: var(--secondary-bg-color);
}

.job-seeker-registration h2 {
  text-align: center;
}

.job-seeker-registration .category-details {
  text-align: center;
  margin-bottom: 1rem;
}

.job-seeker-registration .policy-wrapper {
  padding: 1.5rem 2rem;
  background-color: var(--primary-bg-color);
  border: 1px solid rgba(0, 0, 0, 0.09);
  border-radius: 10px;
}

.job-seeker-registration .policy-checkbox {
  margin-right: auto;
  display: flex;
}

.job-seeker-registration .policy-checkbox .chakra-form-control {
  width: 2rem;
}

.job-seeker-registration .policy-checkbox .policy-checkbox-text {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.job-seeker-registration .policy-checkbox p {
  margin: 0 0.3rem 0 0.2rem;
}

.job-seeker-registration .form .row {
  display: flex;
  flex-direction: row;
  width: 100%;
  padding: 0;
  margin: 0;
}

.job-seeker-registration .form .row .column {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0;
  padding: 0;
}

.job-seeker-registration .form .row .column:first-child {
  margin-right: 1rem;
}

.job-seeker-registration .form .row .column:last-child {
  margin-left: 1rem;
}

.job-seeker-registration .form .row .column .container {
  width: 100%;
  padding: 2rem;
  margin: 1rem 0;
  background-color: var(--primary-bg-color);
  border: 1px solid rgba(0, 0, 0, 0.09);
  border-radius: 10px;
}

.job-seeker-registration .form .row .column .container .heading-container {
  display: flex;
  align-items: center;
}

.job-seeker-registration .form .row .column .container .heading-container .icon {
  font-size: 2rem;
  margin-right: 0.5rem;
}

@media screen and (max-width: 700px) {
  .job-seeker-registration {
    padding: 5rem 6%;
  }

  .job-seeker-registration .policy-checkbox .chakra-form-control {
    width: 7%;
  }
}

@media only screen and (max-width: 1000px) {
  .job-seeker-registration .form .row {
    flex-direction: column;
  }

  .job-seeker-registration .form .row .column {
    margin: 0;
  }

  .job-seeker-registration .form .row .column:first-child {
    margin-right: 0;
  }

  .job-seeker-registration .form .row .column:last-child {
    margin-left: 0;
  }
}

@media only screen and (max-width: 500px) {
  .job-seeker-registration .form .row .column .container {
    padding: 1rem;
    margin: 0.5rem 0;
  }
}
